<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @presentation_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @presentation_type.description %>
</p>

<%= link_to 'Edit', edit_presentation_type_path(@presentation_type) %> |
<%= link_to 'Back', presentation_types_path %>
