<h1>Listing program_volunteers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Interest</th>
      <th>Responsibility</th>
      <th>Email</th>
      <th>Mobile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @program_volunteers.each do |program_volunteer| %>
      <tr>
        <td><%= program_volunteer.name %></td>
        <td><%= program_volunteer.interest %></td>
        <td><%= program_volunteer.responsibility %></td>
        <td><%= program_volunteer.email %></td>
        <td><%= program_volunteer.mobile %></td>

        <td><%= link_to 'Show', program_volunteer %></td>
        <td><%= link_to 'Edit', edit_program_volunteer_path(program_volunteer) %></td>
        <td><%= link_to 'Destroy', program_volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program volunteer', new_program_volunteer_path %>
