<%= simple_form_for(@school_medium) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name,:required=>"required" %>
    <%= f.input :description ,:required=>"required"%>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
