<h1>Listing school_media</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_media.each do |school_medium| %>
      <tr>
        <td><%= school_medium.name %></td>
        <td><%= school_medium.description %></td>
        <td><%= link_to 'Show', school_medium %></td>
        <td><%= link_to 'Edit', edit_school_medium_path(school_medium) %></td>
        <td><%= link_to 'Destroy', school_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School medium', new_school_medium_path %>
