<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_medium.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school_medium.description %>
</p>

<%= link_to 'Edit', edit_school_medium_path(@school_medium) %> |
<%= link_to 'Back', school_media_path %>
