<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @school_role.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school_role.description %>
</p>

<%= link_to 'Edit', edit_school_role_path(@school_role) %> |
<%= link_to 'Back', school_roles_path %>
