<%= simple_form_for @presentation ,:html=>{:class=>"form-horizontal"} do |f| %>

<% if @presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>


<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic">School Name</label>
  <div class="controls">
	     <%= f.association :school,label: false%>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic">Presentation type</label>
  <div class="controls">
	 <%= f.association :presentation_type,label: false,:id=>"selectbasic",:class=>"input-xlarge" %>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Presented by</label>
  <div class="controls">
      <%= f.text_field :presented_by,:required=>"required" %>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Start at</label>
  <div class="controls">
    	<%= f.text_field :start_at,:id=>'datepicker',:required=>"required"%>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">End at</label>
  <div class="controls">
    <%= f.text_field :end_at,:id=>'datepicker2', :required=>"required" %>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Audience count</label>
  <div class="controls">
	<%= f.number_field :audience_count,:required=>"required" %>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="textarea">Summary</label>
  <div class="controls">                     
     <%= f.text_area :summary %>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Authorities present</label>
  <div class="controls">
     <%= f.text_area :authorities_present,:required=>"required" %>
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Followup volunteer</label>
  <div class="controls">
      <%= f.text_field :followup_volunteer,:required=>"required" %>
    
  </div>
</div>

<!-- Prepended text-->
<div class="control-group">
  <label class="control-label" for="prependedtext">Followup volunteer mno</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on">+91</span>
     <%= f.text_field :followup_volunteer_mno,:required=>"required" %>
    </div>
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <div class="controls">
   
    <%= f.submit 'submit',:class=>"btn btn-primary",:id=>"singlebutton" %>
  </div>
</div>

</fieldset>

<% end %>

<script>
      $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
$( "#datepicker2" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>


