<%= simple_form_for(@presentation) do |f| %>
  <% if @presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.association :school %>
  </div>
  <div class="field">
    <%= f.association :presentation_type %>
  </div>
  <div class="field">
    <%= f.label :presented_by %><br>
    <%= f.text_field :presented_by %>
  </div>
  <div class="field">
	<%= f.label :start_at%>
	<%= f.text_field :start_at, :id=>"datepicker" %>
  </div>

<div class="field">
	<%= f.label :end_at%>
	<%= f.text_field :end_at, :id=>"datepicker2" %>
  </div>

  <div class="field">
    <%= f.label :audience_count %><br>
    <%= f.number_field :audience_count %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :authorities_present %><br>
    <%= f.text_area :authorities_present %>
  </div>


  <div class="field">
    <%= f.label :followup_volunteer %><br>
    <%= f.text_field :followup_volunteer %>
  </div>
  <div class="field">
    <%= f.label :followup_volunteer_mno %><br>
    <%= f.number_field :followup_volunteer_mno %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
      $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
$( "#datepicker2" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>
