<div class="container">
  <div class="row">
    <div class="col-md-3 span3">
      <ul class="nav nav-pills nav-stacked">
        <li class="activ"><%= link_to "Dashboard", "#" %></li>
        <li><%= link_to "Plastic Collection Event", admin_plastic_collection_events_path %></li>
        <li><%= link_to "Plastic Collection Source", admin_plastic_collection_sources_path %></li>
        <li><%= link_to "Presentations", admin_presentations_path %></li>
        <li><%= link_to "School", admin_schools_path %></li>
        <li><%= link_to "Presentation Types", admin_presentation_types_path %></li>
        <li><%= link_to "Program states", admin_program_states_path %></li>
        <li><%= link_to "program Volunteers", admin_program_volunteers_path %></li>
        <li><%= link_to "roles", admin_roles_path %></li>
        <li><%= link_to "School Media", admin_school_media_path %></li>
        <li><%= link_to "School Types ", admin_school_types_path %></li>
        <li><%= link_to "School roles ", admin_school_roles_path %></li>
        <li><%= link_to "School Volunteers ", admin_school_volunteers_path %></li>
        <li><%= link_to "Custom Events ", admin_offline_events_path %></li>
      </ul>
    </div>

  </div>
</div>