<div style="float:right" >


  <% if can? :create, PlasticCollectionEvent  %>
      <div class="plastic_collection_event_school">
        <%= link_to  new_admin_plastic_collection_event_path do %>
            <%=image_tag("/assets/netvibes.png", :border => 0) %>Plastic Collection Events
        <%end%>
      </div>
  <%end%>



  <% if can? :create, Presentation  %>
      <div class="school_presentation">
        <%= link_to  new_admin_presentation_path do %>
            <%=image_tag("/assets/netvibes.png", :border => 0) %>Presentation
        <%end%>
      </div>
  <%end%>



</div>
</br>
</br>
<%= stylesheet_link_tag "event_calendar" %>

<%= raw(event_calendar) %>