<%= render 'carousel' %>
<!-- Three columns of text below the carousel -->

<hr class="featurette-divider">
<div id="CDT" style="text-align: center;">
      <span class="number-wrapper">
        <div class="caption">SCHOOLS</div>
        <div class="line"></div>
        <span class="number day"><%= @total_school_count %></span>
      </span>
      <span class="number-wrapper">
        <div class="caption">STUDENTS</div>
        <div class="line"></div>
        <span class="number hour"><%= @total_student_count %></span>
      </span>
      <span class="number-wrapper">
        <div class="line"></div>
        <div class="caption">PLASTIC COLLECTED (In KGs)</div>
        <span class="number min"><%= @plastic_collected_count %></span>
      </span>
      <span class="number-wrapper">
        <div class="line"></div>
        <div class="caption">GREEN FUND (In Rupees)</div>
        <span class="number sec"><%= @green_fund_count %></span>
      </span>
</div>
<hr class="featurette-divider">
<!-- START THE FEATURETTES -->
<div style="display:flex">
  <div style="float: left; width: 70%">

    <!-- <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Students-   <span class="muted">< %= @total_student_count %></span></h3></div>
    <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Schools-   <span class="muted">< %= @total_school_count %></span></h3></div>
    <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Plastic collected-   <span class="muted">< %= @plastic_collected_count %>KG</span></h3></div>
    <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Green fund-   &#8377 <span class="muted">< %= @green_fund_count %></span></h3></div> -->

    <div class="featurette">
      <%= image_tag '/assets/schools/st_andrew.jpg', :class => "featurette-image pull-right" %>
      <h2 class="featurette-heading" style="font-size: 22px;">1599 KGs! <br><br>
        <span class="muted">St. Andrew's- Chinchwad</span></h2>

      <p class="lead" style="font-size: 20px">Rs.12792 for Green Fund!</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <%= image_tag '/assets/schools/st_ursalas.jpg', :class => "featurette-image pull-right" %>
      <h2 class="featurette-heading" style="font-size: 22px;">800 KGs! <br><br>
        <span class="muted">St. Ursulas Nigadi</span></h2>

      <p class="lead" style="font-size: 20px">Rs.8121 for Green Fund!</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <%= image_tag '/assets/schools/modern_school.jpg', :class => "featurette-image pull-right" %>
      <h2 class="featurette-heading" style="font-size: 22px;">125 KGs! <br><br>
        <span class="muted">Modern High School</span></h2>

      <p class="lead" style="font-size: 20px">Rs.1000 for Green Fund!</p>
    </div>
  </div>
  <div style="margin-left: 25px; overflow: auto; height: 800px;"><%= render_activities(@activities) %></div>


</div>

<script>
    !function ($) {
        $(function () {
            // carousel demo
            $('#myCarousel').carousel({interval: 5000});
        })
    }(window.jQuery)
</script>
<% if params[:launch] %>
    <script type="text/javascript">
        $("body").addClass("dialogIsOpen");
        $("body").prepend("<div style='margin:auto; width: 300px;'><button type='button' class='btn btn-primary btn-lg launch_button'>Launch</button></div>");
        //        var top = $(window).height() / 2;
        //        var left = $(window).width() / 2;
        $(".launch_button").css({'position': 'absolute', 'top': ($(window).height() / 2),
            'z-index': 10000, 'height': '100px', 'width': '300px', 'margin': 'auto', 'font-size': '46px' });
        $(".launch_button").click(function () {
            $("body").removeClass("dialogIsOpen");
            $(this).remove();
            window.location.href = '/'
        })
    </script>
<% end %>
