
<%= render 'carousel' %>
<!-- Three columns of text below the carousel -->

<hr class="featurette-divider" style="margin-bottom: 10px">
<div id="CDT" style="text-align: center; width: 67%; float: left; padding-top: 130px;">
      <span class="number-wrapper">
        <div class="caption">SCHOOLS</div>
        <div class="line"></div>
        <span class="number day"><%= @total_school_count %></span>
      </span>
      <span class="number-wrapper">
        <div class="caption">STUDENTS</div>
        <div class="line"></div>
        <span class="number hour"><%= @total_student_count %></span>
      </span>
      <span class="number-wrapper">
        <div class="line"></div>
        <div class="caption">PLASTIC COLLECTED (In KGs)</div>
        <span class="number min"><%= @plastic_collected_count %></span>
      </span>
      <span class="number-wrapper">
        <div class="line"></div>
        <div class="caption">GREEN FUND (In Rupees)</div>
        <span class="number sec"><%= @green_fund_count %></span>
      </span>
</div>
<div style="margin-left: 1%; float: left; background-color: #eeeeee;padding-top: 10px; padding-bottom: 10px;width:30%;">
  <div class="rcnt-actvt">Recent Activities</div>
  <div style="overflow: auto; height: 300px; padding-left: 10px; padding-right: 10px;">
    <%= render_activities(@activities) %>
  </div>
</div>
<div class="clearfix"></div>
<hr class="featurette-divider" style="margin-top: 10px;">
<!-- START THE FEATURETTES -->


<%@top_three_schools_with_photos.each do |school_hash_with_photos|%>
    <div class="featurette">
      <div class="featurette-image pull-right">
        <div class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=0>
          <div class="cycle-overlay"></div>
          <div class="cycle-prev"></div>
          <div class="cycle-next"></div>
          <%school_hash_with_photos[:photo_urls].each do |photos_url|%>
              <%if photos_url.last.nil?%>
                  <%=image_tag "Nothing-to-Display.png",:class=>"cycle2_image",:style=>"height:300px;width:500px",data: { cycle_title:photos_url.first,cycle_desc:""} %>
                  <%end%>

              <%=image_tag photos_url.last,:class => "cycle2_image",:style=>"height:300px;width:500px",data: { cycle_title:photos_url.first,cycle_desc:""} %>
          <%end%>
        </div>
      </div>
      <%#= image_tag '/assets/schools/st_andrew.jpg', :class => "featurette-image pull-right" %>
      <div class="span4">
        <h2 class="featurette-heading"><%=school_hash_with_photos[:plastic_collected]%> KGs!
          <span class="muted"><%=school_hash_with_photos[:name]%> </span></h2>
        <p class="lead">Rs.<%=school_hash_with_photos[:green_fund]%> for Green Fund!</p>
      </div>
    </div>
    <hr class="featurette-divider">
<%end%>

<script>
    !function ($) {
        $(function () {
            // carousel demo
            $('#myCarousel').carousel({interval: 5000});
        })
    }(window.jQuery)
</script>
<% if params[:launch] %>
    <script type="text/javascript">
        $("body").addClass("dialogIsOpen");
        $("body").prepend("<div style='margin:auto; width: 300px;'><button type='button' class='btn btn-primary btn-lg launch_button'>Launch</button></div>");
        //        var top = $(window).height() / 2;
        //        var left = $(window).width() / 2;
        $(".launch_button").css({'position': 'absolute', 'top': ($(window).height() / 2),
            'z-index': 10000, 'height': '100px', 'width': '300px', 'margin': 'auto', 'font-size': '46px' });
        $(".launch_button").click(function () {
            $("body").removeClass("dialogIsOpen");
            $(this).remove();
            window.location.href = '/'
        })
    </script>
<% end %>
