<%= render 'carousel'%>
  <!-- Three columns of text below the carousel -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
  <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Students-   <span class="muted"><%= @total_student_count %></span></h3></div>
  <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Schools-   <span class="muted"><%= @total_school_count %></span></h3></div>
  <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Plastic collected-   <span class="muted"><%= @plastic_collected_count %>KG</span></h3></div>
  <div style="padding-left: 250px;"><h3 class="featurette-heading">Total Green fund-   &#8377 <span class="muted"><%= @green_fund_count %></span></h3></div>

  <img class="img-circle" data-src="holder.js/140x140" alt="1140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 160px; height: 160px;"> 
  <%= render_activities(@activities) %>
  <hr class="featurette-divider">

  <div class="featurette">
	<%= image_tag '/assets/schools/st_andrew.jpg', :class => "featurette-image pull-right"%>
    <h2 class="featurette-heading">1599 KGs!   <span class="muted">St. Andrew's- Chinchwad</span></h2>
    <p class="lead">Rs.12792 for Green Fund!</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
  	<%= image_tag '/assets/schools/st_ursalas.jpg', :class => "featurette-image pull-right"%>
    <h2 class="featurette-heading">800 KGs!   <span class="muted">St. Ursulas Nigadi</span></h2>
    <p class="lead">Rs.8121 for Green Fund!</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
	<%= image_tag '/assets/schools/modern_school.jpg', :class => "featurette-image pull-right"%>
    <h2 class="featurette-heading">125 KGs!  <span class="muted">Modern High School</span></h2>
    <p class="lead">Rs.1000 for Green Fund!</p>
  </div>

<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel({interval: 12000});
    })
  }(window.jQuery)
</script>
<% if params[:launch] %>
    <script type="text/javascript">
        $("body").addClass("dialogIsOpen");
        $("body").prepend("<div style='margin:auto; width: 300px;'><button type='button' class='btn btn-primary btn-lg launch_button'>Launch</button></div>");
//        var top = $(window).height() / 2;
//        var left = $(window).width() / 2;
        $(".launch_button").css({'position': 'absolute', 'top': ($(window).height() / 2),
            'z-index': 10000, 'height': '100px', 'width': '300px', 'margin': 'auto', 'font-size': '46px' });
        $(".launch_button").click(function(){
            $("body").removeClass("dialogIsOpen");
            $(this).remove();
            window.location.href = '/'
        })
    </script>
<% end %>
