<%= simple_form_for(@plastic_collection_event , :html => {:class => "form-horizontal"}) do |f| %>
  <% if @plastic_collection_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plastic_collection_event.errors.count, "error") %> prohibited this plastic_collection_event from being saved:</h2>

      <ul>
      <% @plastic_collection_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.association :school %><br>
  </div>

 <div class="field">
    <%= f.association :plastic_collection_source %><br>
  </div>
  <div class="field">
	<%= f.text_field :date, :id=>"datepicker" %>
  </div>
 
 <div class="field">
    <%= f.input :plastic_weight %><br>

  </div>
  <div class="field">
    <%= f.input :money_given %><br>
  </div>
  <div class="field">
    <%= f.input :volunteers_present %><br>
  </div>
   <div class="field">
    <%= f.input :quality_remark %><br>
  </div>
  <div class="field">
    <%= f.input :feedback %><br>
  </div>
 
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>

<script>
      $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>
