<%= form_for [:admin, @school_role] do |f| %>
    <% if @school_role.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@school_role.errors.count, "error") %> prohibited this school_role from being saved:</h2>

          <ul>
            <% @school_role.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :role %>
      <br>
      <%= f.text_field :role, :required => "required" %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br>
      <%= f.text_field :description, :required => "required" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
