<h1>Listing school_volunteers</h1>

<table>
  <thead>
  <tr>
    <th>School name</th>
    <th>School address</th>
    <th>School Type</th>
    <th>School medium</th>
    <th>Total students</th>
    <th>Volunteer</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @school_volunteers.each do |school_volunteer| %>
      <tr>
        <td><%= school_volunteer.school.name %></td>
        <td><%= school_volunteer.school.address %></td>
        <td><%= school_volunteer.school.school_type.name %></td>
        <td><%= school_volunteer.school.school_medium.name %></td>
        <td><%= school_volunteer.school.total_students %></td>
        <td><%= school_volunteer.name %></td>
        <td><%= school_volunteer.mobile %></td>
        <td><%= school_volunteer.email %></td>
        <% if can? :create, SchoolVolunteer %>
            <td><%= link_to 'Show', school_volunteer %> |
              <%= link_to 'Edit', edit_school_volunteer_path(school_volunteer) %> |
              <%= link_to 'Destroy', school_volunteer, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School volunteer', new_school_volunteer_path %>
