<h1>Listing program_states</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @program_states.each do |program_state| %>
      <tr>
        <td><%= program_state.name %></td>
        <td><%= program_state.description %></td>
        <td><%= link_to 'Show', program_state %></td>
        <td><%= link_to 'Edit', edit_program_state_path(program_state) %></td>
        <td><%= link_to 'Destroy', program_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program state', new_program_state_path %>
