<%= simple_nested_form_for [:admin, @plastic_collection_event], :html => {:class => "form-horizontal"} do |f| %>
    <% if @plastic_collection_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plastic_collection_event.errors.count, "error") %> prohibited this plastic_collection_event
            from being saved:</h2>

          <ul>
            <% @plastic_collection_event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>

      <!-- Select Basic -->
      <div class="control-group">
        <label class="control-label" for="selectbasic">School</label>

        <div class="controls">
          <%= f.association :school, label: false %>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="control-group">
        <label class="control-label" for="selectbasic">Plastic collection source</label>

        <div class="controls">
          <%= f.association :plastic_collection_source, label: false %>
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Start at</label>

        <div class="controls">
          <%= f.input :start_at, :required => "required", label: false, :as => :string, input_html: {id: "datepicker"} %>

        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">End at</label>

        <div class="controls">
          <%= f.input :end_at, :required => "required", label: false, :as => :string, input_html: {id: "datepicker2"} %>

        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Plastic weight</label>

        <div class="controls">
          <%= f.input :plastic_weight, label: false %>

        </div>
      </div>

      <!-- Appended Input-->
      <div class="control-group">
        <label class="control-label" for="appendedtext">Money given</label>

        <div class="controls">
          <div class="input-append">
            <%= f.input :money_given, label: false do %>
                <%= f.input_field :money_given %>
                <span class="add-on">INR</span>
            <% end %>


          </div>

        </div>
      </div>

      <!-- Textarea -->
      <div class="control-group">
        <label class="control-label" for="textarea">Volunteers present</label>

        <div class="controls">
          <%= f.input :volunteers_present, label: false %>
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Quality remark</label>

        <div class="controls">
          <%= f.input :quality_remark, label: false %>

        </div>
      </div>

      <!-- Textarea -->
      <div class="control-group">
        <label class="control-label" for="textarea">Feedback</label>

        <div class="controls">
          <%= f.input :feedback, label: false %>
        </div>
      </div>

      <%= f.fields_for :photos do |p| %>

          <div class="control-group">
            <label class="control-label" for="textinput">Title</label>

            <div class="controls">
              <%= p.input :title, label: false %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textinput">Description</label>

            <div class="controls">
              <%= p.input :description, label: false %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="textinput">Photo</label>

            <div class="controls">
              <%= p.input :image, as: :file, label: false %>
            </div>
          </div>

          <%= p.link_to_remove "Remove this photo" %>
      <% end %>
      <%= f.link_to_add "Add a photo", :photos %>

      <!-- Button -->

      <div class="control-group">
        <label class="control-label" for="singlebutton"></label>

        <div class="btn-group">

          <%= f.submit "Submit", :class => "btn btn-primary" %>
          <%= link_to 'all plastic collection event ', admin_plastic_collection_events_path, :class => "btn" %>
          <%= link_to 'Dashboard', admin_index_path, :class => "btn btn-danger" %>
        </div>
      </div>
    </fieldset>
<% end %>

<script>
    $("#datepicker").datepicker({ dateFormat: "yy-mm-dd" });
    $("#datepicker2").datepicker({ dateFormat: "yy-mm-dd" });
</script>




