<p id="notice"><%= notice %></p>
<p>
  <strong>School:</strong>
  <%= @plastic_collection_event.school.name %>
</p>

<p>
  <strong>Plastic weight:</strong>
  <%= @plastic_collection_event.plastic_weight %>
</p>

<p>
  <strong>Money given:</strong>
  <%= @plastic_collection_event.money_given %>
</p>

<p>
  <strong>Volunteers present:</strong>
  <%= @plastic_collection_event.volunteers_present %>
</p>

<p>
  <strong>Plastic collection Source:</strong>
  <%= @plastic_collection_event.plastic_collection_source.name if @plastic_collection_event.plastic_collection_source.present? %>
</p>

<p>
  <strong>Date:</strong>
  <%= @plastic_collection_event.start_at %>
</p>

<p>
  <strong>Quality remark:</strong>
  <%= @plastic_collection_event.quality_remark %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @plastic_collection_event.feedback %>
</p>

<% if can? :create, PlasticCollectionEvent %> 
  <%= link_to 'Edit', edit_admin_plastic_collection_event_path(@plastic_collection_event) %> |
  <%= link_to 'Back', admin_plastic_collection_events_path %>

<%end%>

