<h1>Listing school_contacts</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>User</th>
      <th>Schoold role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_contacts.each do |school_contact| %>
      <tr>
        <td><%= school_contact.school_id %></td>
        <td><%= school_contact.user_id %></td>
        <td><%= school_contact.school_role_id %></td>
        <td><%= link_to 'Show', school_contact %></td>
        <td><%= link_to 'Edit', edit_school_contact_path(school_contact) %></td>
        <td><%= link_to 'Destroy', school_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School contact', new_school_contact_path %>
