<div class="row-fluid">
  <div class="span4">


    <ul class="thumbnails">
      <li class="span9">
        <div class="thumbnail">
          <%if @school.principal_detail.photo.present? %>
              <img src=<%= @school.principal_detail.photo.flickr_url  %>  alt="">
          <%else%>
              <img src=<%= "/assets/default.jpg"  %>  alt="">
          <%end%>


        </div>
      </li>
    </ul>

    <!--<ul class="thumbnails">-->
    <!--<li class="span9">-->
    <!--<div class="thumbnail">-->
    <!--<%#if @school.principal_detail.photo.present? %>-->
    <!--<img src=<%#= @school.principal_detail.photo.flickr_url  %>  alt="">-->
    <!--<%#else%>-->
    <!--<img src=<%= "/assets/default.jpg" %>  alt="">-->
    <!--<%#end%>-->


    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->



  </div>
  <div class="span8">

    <strong>
      <i class="icon-user"> </i>Name:
    </strong>
    <%= @school.principal_detail.name %>
    </br>
    </br>

    <strong>
      <i class=" icon-info-sign"></i> In Office Since:
    </strong>
    <%= l @school.principal_detail.in_office_since %>
    </br>
    </br>


  </div>


</div>




