<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab table-bordered ">
      <thead>
      <% if can? :create, School %>
          <%= link_to new_admin_school_path, :class => "pull-right" do %>
              <%= image_tag("/assets/netvibes.png", :border => 0) %>    New School
          <% end %>
      <% end %>
      <tr>
        <th>Name(Total Student)</th>
        <th>Address</th>
        <th>School type(Medium)</th>
        <th>Program state</th>
        <th>Number of Collections</th>
        <th>Plastic Collected (Kgs)</th>
        <th>Green Fund (INR)</th>
        <% if can? :create, PlasticCollectionEvent %>
            <th class="text-center">Actions</th>
        <% end %>
      </tr>
      </thead>
      <tr>
        <% @schools.each do |school| %>
          <tr class=<%= settabelstyles school.program_state.id %>>
            <td><%= link_to school.name, school %><%= "(#{school.total_students})" %></td>
            <td><%= school.address %></td>
            <td><%= "  #{school.school_type.name} (#{school.school_medium.name})" %></td>
            <td><%= school.program_state.name %></td>
            <td><%= school.number_of_collections %></td>
            <td><%= school.plastic_collected %> </td>
            <td><%= school.green_fund %> </td>
            <% if can? :create, School %>

                <td class="text-center">
                  <%= link_to school do %>
                      <i class="icon-folder-open"></i>Show
                  <% end %>
                  <%= link_to edit_admin_school_path(school) do %>
                      <i class="icon-edit"></i>Edit
                  <% end %>
                  <%= link_to school, method: :delete, data: {confirm: 'Are you sure?'} do %>
                      <i class="icon-trash"></i>Del
                  <% end %>
                </td>
                </tr>
            <% end %>
      <% end %>

    </table>
  </div>
</div>
       
