<h3>Schools</h3>

<table  class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>School type</th>
      <th>Program state</th>
      <th>Total students</th>
      <th>Medium</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
	    <td><%= school.name %></td>
        <td><%= school.address %></td>
        <td><%= school.school_type.name %></td>
        <td><%= school.program_state.name %></td>
        <td><%= school.total_students %></td>
        <td><%= school.school_medium.name %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
