<style type="text/css">
h3{
	padding: 0 10px;
	margin-top: 20px;
	background: #F2F2F2;
}
.bs-example{
	margin: 20px;
}
</style>

<div class="school_profile">
  	<div id='basic_school'>
		<h3><%= @school.name%> </h3>
		<p> 
			No. of Collections: <b>	<%= @school.number_of_collections %> </b> </br>
			Plastic Collected: <b> <%= @school.plastic_collected %> </b></br>
			Green Fund: <b> <%= @school.green_fund %> </b>
			State : <b><%=  @school.program_state.name%></b>
		</p>
	</div>
    <div class="tabbable">
	<%= render :partial=>'tab_header'%>
        <div class="tab-content">
            <div id="dA" class="tab-pane active">
               <%= render :partial=> 'school_profile'%>
            </div>
            <div id="dB" class="tab-pane">
               <%=render :partial=>'presentations'%>
            </div>
            <div id="dC" class="tab-pane">
                <%= render :partial=>'plastic_collection_events' %>
            </div>
        </div>
    </div>