<div class="row-fluid well">
  <div class="span4">
	<!-- <img src="/assets/schools/st_andrew.jpg" > 
	
	Add image in this space
	
	-->
		
	</div>	
<div class="container-fluid span6 ">
	<div class="row-fluid">
          
        <div class="span8">
            <h3><%= @school.name%></h3>
            <h6>   <i class="icon-bookmark"></i> No. of Collections: <%= @school.number_of_collections %></h6>
            <h6>   <i class="icon-eye-open"></i>   Plastic Collected: <%= @school.plastic_collected %> </h6>
            <h6><i class="icon-leaf"></i>  Green Fund: <%= @school.green_fund %>
            <h6> <i class="icon-check"></i>State :<%=  @school.program_state.name%></h6>
        </div>
        
        <div class="span2">
            
        </div>
</div>
</div>

</div>


<div class="school_profile">
  
    <div class="tabbable">
	<%= render :partial=>'tab_header'%>
        <div class="tab-content">
            <div id="tabs-1" class="tab-pane active">
               <%= render :partial=> 'school_profile'%>
            </div>
            <div id="tabs-2" class="tab-pane">
               <%=render :partial=>'presentations'%>
            </div>
            <div id="tabs-3" class="tab-pane">
                <%= render :partial=>'plastic_collection_events' %>
            </div>
		 <div id="tabs-4" class="tab-pane">
			<%= stylesheet_link_tag "event_calendar" %>
			<%= raw(event_calendar) %>
		  </div>

        </div>
    </div>

	<script>
	  /* Bookmarka able URL for Hash tabs #tabs-1,#tabs-2,#tabs-3 */
	  if(location.hash) {
	    $('.active').removeClass( "active" );
		$('#'+location.hash.substring(1)).addClass("active");
		$('.nav-tabs li > a[href=' + location.hash  + ']').parent("ul.nav > li").addClass("active");
	  }

	</script>