<div class="school_profile">
  	<div id='basic_school'>
		<h3><%= @school.name%> </h3>
		<p> 
			No. of Collections: <b>	<%= @school.number_of_collections %> </b> </br>
			Plastic Collected: <b> <%= @school.plastic_collected %> </b></br>
			Green Fund: <b> <%= @school.green_fund %> </b>
			State : <b><%=  @school.program_state.name%></b>
		</p>
	</div>
    <div class="tabbable">
	<%= render :partial=>'tab_header'%>
        <div class="tab-content">
            <div id="tabs-1" class="tab-pane active">
               <%= render :partial=> 'school_profile'%>
            </div>
            <div id="tabs-2" class="tab-pane">
               <%=render :partial=>'presentations'%>
            </div>
            <div id="tabs-3" class="tab-pane">
                <%= render :partial=>'plastic_collection_events' %>
            </div>
		 <div id="tabs-4" class="tab-pane">
			<%= stylesheet_link_tag "event_calendar" %>
			<%= raw(event_calendar) %>
		  </div>

        </div>
    </div>

	<script>
	  /* Bookmarka able URL for Hash tabs #tabs-1,#tabs-2,#tabs-3 */
	  if(location.hash) {
	    $('.active').removeClass( "active" );
		$('#'+location.hash.substring(1)).addClass("active");
		$('.nav-tabs li > a[href=' + location.hash  + ']').parent("ul.nav > li").addClass("active");
	  }

	</script>