<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>School type:</strong>
  <%= @school.school_type.name %>
</p>

<p>
  <strong>Program state:</strong>
  <%= @school.program_state.name %>
</p>

<p>
  <strong>Total students:</strong>
  <%= @school.total_students %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @school.school_medium.name %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
