<div id='basic_school'>
	<h3><%= @school.name%> </h3>
	<p> 
		No. of Collections: <b>	<%= @school.number_of_collections %> </b> </br>
		Plastic Collected: <b> <%= @school.plastic_collected %> </b></br>
		Green Fund: <b> <%= @school.green_fund %> </b>
		State : <b><%=  @school.program_state.name%>
	</p>
</div>

<div id="tabs">
  <%= render :partial=>'tab_header'%>
  <%= render :partial=> 'school_profile'%>
  <div id="tabs-2">
   <%=render :partial=>'presentations'%>
  </div>
  <div id="tabs-3">
   <%= render :partial=>'plastic_collection_events' %>
  </div>
 <div id="tabs-4">
	<%= stylesheet_link_tag "event_calendar" %>
	<%= raw(event_calendar) %>
  </div>
</div>

<script>
 	$( "#tabs" ).tabs();

</script>