<div class=" well">

  <%= link_to  schools_path  do  %>
      <div style="text-align: right;">
        <i class=" icon-circle-arrow-left"></i>Back
      </div>
  <%end%>

  <div class="row-fluid">
  <div class="span4">


    <ul class="thumbnails">
      <li class="span9">
        <div class="thumbnail">
          <%if @school.photo.present? %>
              <img src=<%= @school.photo.flickr_url  %>  alt="">
          <%else%>
              <img src=<%= "/assets/default.jpg"  %>  alt="">
          <%end%>


        </div>
      </li>
    </ul>


  </div>
  <div class="span8">




    <h3><%= @school.name%></h3>

    <div class="span12">


      <table class="table">

        <thead>
        <tr>
          <th ><i class="icon-bookmark"></i> No. of Collections</th>
          <th><i class="icon-globe"></i>   Plastic Collected</th>
          <th><i class="icon-leaf"></i>  Green Fund</th>
          <th><i class="icon-check"></i>State </th>



        </tr>
        </thead>
        <tr>
          <td class="text-center"><%= @school.number_of_collections %></td>
          <td class="text-center"> <%= @school.plastic_collected %> </td>
          <td class="text-center"> <%= @school.green_fund %></td>
          <td class="text-center"><%=  @school.program_state.name%></td>
        </tr>
      </table>
    </div>



  </div>

  </div>

</div>




<div class="school_profile">
  
    <div class="tabbable">
	<%= render :partial=>'tab_header'%>
        <div class="tab-content">
            <div id="tabs-1" class="tab-pane active">
               <%= render :partial=> 'school_profile'%>
            </div>
            <div id="tabs-2" class="tab-pane">
               <%=render :partial=>'presentations'%>
            </div>
            <div id="tabs-3" class="tab-pane">
                <%= render :partial=>'plastic_collection_events' %>
            </div>
		 <div id="tabs-4" class="tab-pane">
			<%= stylesheet_link_tag "event_calendar" %>
			<%= raw(event_calendar) %>
		  </div>

          <div id="tabs-5" class="tab-pane">
            <%= render :partial=>'principal'  if @school.principal_detail.present? %>
          </div>

        </div>
    </div>
  </div>

	<script>
	  /* Bookmarka able URL for Hash tabs #tabs-1,#tabs-2,#tabs-3 */
	  if(location.hash) {
	    $('.active').removeClass( "active" );
		$('#'+location.hash.substring(1)).addClass("active");
		$('.nav-tabs li > a[href=' + location.hash  + ']').parent("ul.nav > li").addClass("active");
	  }

	</script>