<p id="notice"><%= notice %></p>
<div class="row-fluid well">

  <%= link_to admin_school_types_path do %>
      <i class=" icon-circle-arrow-left"></i>Back
  <%end%>


  <div style="float:right">

    <% if can? :create, PlasticCollectionEvent %>
        <%= link_to  edit_admin_school_type_path(@school_type) do %>
            <i class="icon-edit"></i>Edit
        <%end%>
    <%end%>
    </br>


  </div>


  <h3>   <%= @school_type.name %> </h3>
  <h5>  <%= @school_type.description %></h5>




</div>



