<h1>Listing program_volunteers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Interest</th>
      <th>Responsibility</th>
      <th>Email</th>
      <th>Mobile</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @program_volunteers.each do |program_volunteer| %>
      <tr>
        <td><%= program_volunteer.name %></td>
        <td><%= program_volunteer.interest %></td>
        <td><%= program_volunteer.responsibility %></td>
        <td><%= program_volunteer.email %></td>
        <td><%= program_volunteer.mobile %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>


