<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <%= render :partial => 'admin/sidebar' %>

    </div>
    <div class="span9">

      <% if can? :create, OfflineEvent %>
          <div style="float:left">
            <%= link_to new_admin_presentation_path do %>
                <%= image_tag("/assets/netvibes.png", :border => 0) %>New Custom Events
            <% end %>
          </div>
      <% end %>


      <table class="table table-striped custab table-bordered ">
        <thead>
        <tr>

          <th>School Name</th>
          <th>Date</th>
          <th>Event Name</th>
          <th>Volunteers present</th>


          <% if can? :create, OfflineEvent %>
              <th class="text-center">Actions</th>
          <% end %>

        </tr>
        </thead>
        <tr>


          <% @offline_events.each do |offline_event| %>
            <tr>
              <td><%= offline_event.school_name %></td>
              <td><%= l(offline_event.start_at) %></td>
              <td><%= offline_event.event_name %></td>
              <td><%= offline_event.volunteers_present %></td>
              <% if can? :create, OfflineEvent %>
                  <td>

                    <%= link_to offline_event_path(offline_event) do %>
                        <i class="icon-folder-open"></i>Show
                    <% end %>
                    </br>
                    <%= link_to edit_admin_offline_event_path(offline_event) do %>
                        <i class="icon-edit"></i>Edit
                    <% end %>
                    </br>
                    <%= link_to admin_offline_event_path(offline_event), method: :delete, data: {confirm: 'Are you sure?'} do %>
                        <i class="icon-trash"></i>Del
                    <% end %>
                  </td>
                  </tr>
              <% end %>
        <% end %>


      </table>
    </div>


  </div>

</div>

