<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
		        <li class=""> <%= link_to 'Concept', '/initiative/concept'%></li>
	           <li class="active"><%= link_to 'Team', '/initiative/team'%></li>
	           <li class=""><%= link_to 'Contact us', '/initiative/contact'%></li>

          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div class="hero-unit">
          <p style="font-size: 20px; color: #0088cc; font-weight: 400;">
            Sagar-Mitra Initative &raquo; Team
          </p>
          <div class="team">
            <div class="tMember"><%= link_to image_tag("team/TAAlogo.png"), "http://www.taaindia.org/", target: :blank %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce"><%= image_tag("team/SETUlogo.jpg") %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce"><%= image_tag("team/CGMlogo.jpg") %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce"><%= link_to image_tag("team/lions_club_logo_color.jpg"), "http://www.lionsclubs.org/EN/index.php", target: :blank %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce"><%= link_to image_tag("team/rotary.jpg"), "http://www.rotary.org/", target: :blank  %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce"><%= image_tag("team/KCFlogo.jpg") %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce withbackground"><%= link_to image_tag("team/initiativers_logo.png"), "http://initiativers.com", target: :blank %></div>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="tMember reduce"><%= link_to image_tag("team/paramisoft.png"), "http://initiativers.com", target: :blank %></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div><!--/.fluid-container-->
    </div>
</div>

<style type="text/css">
.team { width: 100%; }
.team .tMember { width: 100%; }
.team .tMember.reduce { width: 60%; margin: auto; text-align: center; }
.team .tMember.reduce.withbackground { background-color: #3C3745; text-align: center; }
</style>

