<!DOCTYPE html>
<html>
<head>
  <title>Sagarmitra</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  

<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!--[if lt IE 9]>
     <script src="../assets/js/html5shiv.js"></script>
   <![endif]-->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4sH7Z0XwjmqWPmhdx0byhhAoL3dlMOS4&sensor=true">
  </script>
  <%= csrf_meta_tags %>
<style type="text/css"></style><style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
  <%= render "shared/google_analytics"%>
 <%= javascript_include_tag 'jquery-1.9.1.js'%>
 <%= javascript_include_tag 'jquery-ui-1.10.3.custom.js'%>
 <%= stylesheet_link_tag    "jquery-ui-1.10.3.custom.css" %>
 <%= stylesheet_link_tag    "bootstrap-datetimepicker.min.css" %>
 <%= javascript_include_tag 'bootstrap-datetimepicker.min.js'%>
<%= stylesheet_link_tag    "/assets/event_calendar.css" %>
<%= javascript_include_tag '/assets/event_calendar.js'%>
<script>
      $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>
</head>
<body>
	<%= render 'shared/facebook_javascript_sdk' %>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
	
	<!-- NAVBAR
	================================================== -->
	<div class="navbar-wrapper">
	  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
	  <div class="container">
		
     	<%= render 'shared/header'%>
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <%= yield %>
	
  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
	<%= render 'shared/facebook_like' %>

  <%= render "shared/footer"%>




</div><!-- /.container -->

</body>
</html>
